body{
  font-family: Raleway;
  width: 100%;
  min-width: 320px;
  margin: 0;
  background-color: $cream;
  padding-bottom: 15px;
}

header{
  height: 160px;
  background-color: $darkblue;
  color: $cream;
  border-bottom: 10px solid $coral;
}

section{
  @include outer-container;
  background-color: $lightblue;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: .9rem;
  letter-spacing: .1rem;
  color: $black;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  @include span-columns(11);
  @include shift(0.5);
  min-height: 780px;
  @media screen and(min-width: 400px){
    min-height: 750px;
  }
  @media screen and(min-width: 768px){
    // @include span-columns(10);
    // @include shift(0);
    min-height: 467px;
    padding: 30px 0;
  }
  // @media screen and(min-width: 900px){
  //   min-height: 400px;
  // }

}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}
