.hero{
  @include span-columns(10);
  @include shift(1);
  height: 400px;
  margin-top: 40px;
  background: url("../assets/images/sunset.jpg") no-repeat;
  background-size: cover;
  background-position: 25% 78%;
  border-radius: 5px;
  // text-align: center;
  color: white;
  letter-spacing: .2rem;
  font-size: 30px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
  h1{
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

}
.bio{
  list-style-type: none;
  @include span-columns(4);
  @include shift(2);
  font-size: .9rem;
  letter-spacing: .1rem;
  color: white;
  // text-align: left;
  // position: absolute;
  // top: 20%;
  // left: 2%;
  li{
    padding-bottom: 10px;
  }
}
