
.blue-button{
  margin-top: 30px;
  width: 40%;
  background-color: $darkblue;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  color: $cream;
  border-radius: 5px;
  &:hover{
    background-color: $coral;
  }

}

.button-link{
  text-decoration: none;
}

.sidebar{
  border-left: 1px solid $darkblue;
  width: 100%;
  position: fixed;
  text-align: right;
  right: 2%;
  bottom: 0;
  a{
    text-decoration: none;
    color: $black;
    opacity: .6;
  }
}
.side-icons{
  padding: 0 0 0 15px;
  font-size: 32px;
  display: inline-block;
}
