.header-content{
  position: relative;
  height: 160px;
  color: $cream;
  a{
    color: $cream;
  }
  .header-details{
    @include outer-container;
    @include shift(1);
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    top: calc(25% - 10px);
    transform: translateY(-25%);
    &--name{
      font-weight: 100;
      font-size: 36px;
    }
    &--byline{
      font-weight: 100;
      font-size: 16px;
    }
    &--email{
      a{
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
  .header-contact{
    @include outer-container;
    @include shift(9);
    list-style-type: none;
    font-size: 32px;
    font-weight: 100;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    &--method{
      display: inline-block;
      padding-left: 15px;
    }
  }

}
