.header-content {
  position: relative;
  color: $cream;
  text-align: center;
  height: 180px;
  @media screen and(min-width: 400px){
    height: 160px;
  }
  @media screen and(min-width: 768px) {
    text-align: left;
  }
  a {
    color: $cream;
  }
  .header-details {
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and(min-width: 768px) {
       @include outer-container;
      @include shift(0.5);
      left: 0;
      top: calc(25% - 10px);
      transform: translate(0, -25%);
    }
    &--name {
      min-width: 270px;
      font-weight: 100;
      font-size: 30px;
      @media screen and(min-width: 768px) {
          font-size: 36px;
      }
    }
    &--byline {
      font-weight: 100;
      font-size: 20px;
      @media screen and(min-width: 768px) {
        font-size: 18px;
      }
    }
    &--email {
      a {
        font-size: 14px;
        font-weight: 100;
        display: none;
        @media screen and(min-width: 768px) {
          display: inline;
        }
      }
    }
  }
  .header-contact {
    // @include outer-container;
    // @include shift(8.5);
    // @media screen and(min-width: 900px){
    // @include shift(9);
    // }
    font-size: 32px;
    list-style-type: none;
    padding-left: 0;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    // left: 320px;
    // top: 33%;
    // bottom: -15px;
    @media screen and(min-width: 768px) {
      left: initial;
      right: 6%;
      top: 25%;
      transform: translateY(-50%);
      // font-size: 32px;
    }
    &--method {
      display: inline-block;
      padding-left: 0;
      padding-right: 15px;
      @media screen and(min-width: 768px) {
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
}
