.profile{
  margin-top: 30px;
  position: relative;
  @include outer-container;
  @include shift(0.5);
  min-height: 460px;
  &--bio{
    list-style-type: none;
    @include span-columns(6);
    @include shift(.75);
    position: absolute;
    top: calc(50% - 28px);
    transform: translateY(-50%);
    z-index: 1;
    padding-left: 0;
    li{
      padding-bottom: 15px;
    }
    .profile-buttons{
      padding: 0 15px;
      button{
        min-width: 164px;
      }

    }
  }
  &--photo{
    @include span-columns(4);
    @include shift(7.25);
    position: absolute;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    img{
      width: 100%;
      border-radius: 5%;
      -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
    }
  }

#resume-download{
  float: right;
}
}
