// .projects{
//   // min-height: 760px;
//   @media screen and(min-width: 768px){
//     min-height: none;
//   }
// }

.projects-container {
  @include outer-container;

}
.projects-grid {
  // @include shift(0.25);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  @media screen and(min-width: 768px){
    @include shift(0.5);
    margin: auto;

  }
}

.projects-grid li {
  @include span-columns(11.5);
  @include shift(-1.25);
  @media screen and(min-width: 400px){
    @include span-columns(11);
    @include shift(0);
  }
  // @media screen and(min-width: 600px){
  //
  // }
  @media screen and(min-width: 768px){
    @include span-columns(5);
    @include shift(0.25);
  }
  @media screen and(min-width: 900px){
    @include span-columns(5);
    @include shift(0);
  }
}
.description{
  background-color: $cream;
  color: $black;
  border-radius: 10px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  z-index: 1;
  @include span-columns(13);
  min-height: 340px;
  @media screen and(min-width: 400px){
    @include span-columns(12);
  }
  @media screen and(min-width: 600px){
    @include span-columns(12);
  }
  @media screen and(min-width: 768px){
    @include span-columns(13.5);
    min-height: 320px;
  }
  // @media screen and(min-width: 900px){
  // }

  p{
    position: absolute;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 15px;
    top: calc(50% - 7px);
    transform: translateY(-60%);
      @media screen and(min-width: 400px){
        padding: 0 30px;
        top: calc(50% - 15px);
        transform: translateY(-50%);
      }
      // @media screen and(min-width: 400px){
      //   padding: 0 60px;
      // }
  }
}
.project-buttons{
  position: absolute;
  @include span-columns(10);
  @include shift(1);
  bottom: 15px;
  @media screen and(min-width: 768px){
    @include shift(0);
    text-align: right;
    left: -45px;
    width: 100%;
  }
  @media screen and(min-width: 900px){
    bottom: 30px;
  }

}


.project-button {
  background-color: $darkblue;
  padding: 7px;
  font-size: 14px;
  // font-size: 12px;
  font-weight: 100;
  color: $cream;
  border-radius: 5px;
  // margin-top: 15px;
  width: 45%;
  @media screen and(min-width: 768px){
    width: 30%;
  }
  @media screen and(min-width: 900px){
    width: 25%;
  }
  &:hover{
    background-color: $coral;
  }

}

.button2{
  float: right;
  margin-left: 3%;
}

.tech{
  @include span-columns(10);
  @include shift(1);
  line-height: 1.5;
  // margin-top: 30px;
  @media screen and(min-width: 768px){
    // margin-right: 4.2649%;
    margin-top: 30px;
  }

}
.bold{
  font-weight: 700;
}


.hidden{
  display: none;
}
