.projects {
  .project-container {
    @include shift(1);
  }
  &--entry {
    @include span-columns(5);
    padding-bottom: 30px;
    // @include span-columns(6);
    &--preview {
      img {
        width: 100%;
        border-radius: 5%;
        -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
        -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
        box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      }
    }
    .name{
      text-align: center;
      padding-bottom: 15px;
      font-size: 20px;
    }
  }
}
