

.projects-container {
  @include outer-container;

}
.projects-grid {
  @include shift(0.5);
  text-align: center;
  width: 100%;
}

.projects-grid li {
  @include span-columns(5);
  // @include omega(3n);
	// margin: 30px;
}
.description{
  @include span-columns(13.5);
  background-color: $cream;
  color: $black;
  min-height: 280px;
  border-radius: 10px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  z-index: 1;
  // -webkit-animation-iteration-count: 1;
  // margin: 0;
  p{
    padding: 0 30px;
    position: absolute;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    line-height: 1.5;
    margin: 0 auto;

  }
}
.project-buttons{
  text-align: right;
  position: absolute;
  bottom: 30px;
  left: -45px;
  width: 100%;

}


.project-button {
  width: 25%;
  background-color: $darkblue;
  padding: 7px;
  font-size: 14px;
  font-weight: 100;
  color: $cream;
  border-radius: 5px;
  // margin-top: 15px;
  &:hover{
    background-color: $coral;
  }

}

.button2{
  float: right;
  margin-left: 3%;
}

.tech{
  @include shift(1);
  margin-right: 4.2649%;
  padding-top: 15px;
  line-height: 1.5;

}
.bold{
  font-weight: 700;
}


.hidden{
  display: none;
}
