.profile{
  margin-top: 30px;
  &--bio{
    list-style-type: none;
    @include span-columns(6 of 12);
    @include shift(1);
    li{
      padding-bottom: 15px;
    }
  }
  &--photo{
    @include span-columns(3 of 12);
    @include shift(1);
    img{
      width: 100%;
      border-radius: 5%;
      -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
    }
  }
.resume-link{
  margin-top: 30px;
  @include span-columns(5);
  background-color: $darkblue;
  padding: 10px;
  font-size: 14px;

  font-weight: 100;
  // height: 30px;
  color: $cream;
  border-radius: 5px;

}
#resume-download{
  margin-left: 10%;
}
}
