// .projects-container {
//   @include outer-container;
//
// }
.projects-grid {
  @include shift(0.5);
  // margin: 20px 0 0 0;
  // padding: 0;

  // display: block;
  text-align: center;
  width: 100%;

}


// .projects-grid:after{
//   clear: both;
// }

.projects-grid li {
	// width: 280px;
	// height: 280px;
  @include span-columns(5.5);
  @include omega(2n);
  // @include outer-container;
	// display: inline-block;
	margin: 20px;
}
.project {
  // @include span-columns(6 of 12);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 140px rgba(8, 28, 37, 0.6), inset 0 0 0 16px rgba(255, 255, 255,0.6), 0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: inset 0 0 0 0px rgba(20, 81, 115, 0.2),  inset 0 0 0 1px rgba(8, 28, 37,1), 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 5%;
  }
}
.project-img1 {
  background-image: url('../assets/images/weather-watcher-full.png');
  background-size: cover;

}
.project-img2{
  background-image: url('../assets/images/powell-peralta-full.png');
  background-size: cover;
  background-position:center top;
}

.project-img3 {
  background-image: url('../assets/images/image-gallery.jpg');
  background-size: cover;
  background-position: center;
}
.project-img4 {
  background-image: url('../assets/images/to-do-list.jpg');
  background-size: cover;
}
.project-img5 {
  background-image: url('../assets/images/weather-api.jpg');
  background-size: cover;
}

.project-name {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  transform: scale(1);
  backface-visibility: hidden;
  h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 90px 0 0;
    // height: 140px;
    text-shadow: 0 1px 2px rgba(8, 28, 37,0.9);

  }
  a{
    padding-top: 15px;
     border-top: 2px solid $cream;
  }


}
.project:hover .project-name {
  transform: scale(0);
  opacity: 1;
}
.project:hover .project-name a {
  opacity: 1;
}
.project-buttons{
  // @include span-columns(6 of 12);
  // @include omega;
  height: 280px;
}
.project-button {
  // opacity: 0;
  // transition: all 1s ease-in-out 0.4s;
  background-color: $darkblue;
  border: 1px solid $lightblue;
  // border: none;
  // padding: 10px;
  font-size: 12px;
  font-weight: 100;
  color: $cream;
  border-radius: 5px;
  margin-top: 25px;


  &:hover{
    cursor: pointer;
    background-color: $lightblue;
  }
}

// .project-buttons{
//   border-top: 1px solid $cream;
// }
// &--entry {
//   @include span-columns(10);
//   @include shift(0.5);
//   min-height: 380px;
//   // @include omega(2n);
//   padding-bottom: 30px;
//   // @include span-columns(6);
//   &--preview {
//   text-align: center;
//   @include span-columns(4);
//     img {
//       // @include span-columns(4);
//       width: 250px;
//       height: 250px;
//       border-radius: 50%;
//       opacity: .6;
//       -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
//       -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
//       box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
//       transition: all 0.7s ease;
//       &:hover{
//         @include span-columns(12);
//         height: 100%;
//         border-radius: 0;
//         opacity: 1;
//       }
//     }
//   }
//   &--details{
//     float: right;
//     width: 30%;
//
//   }
//   .name{
//     // text-align: center;
//     padding-bottom: 15px;
//     font-size: 20px;
//   }
// }
// @-webkit-keyframes circletosquare {
//   0%  {
//     border-radius:50%;
//
//   }
//
//   100% {
//     border-radius:0;
//
//   }
// }
