.profile{
  margin-top: 30px;
  position: relative;
  color: $black;
  @include outer-container;
  @include shift(0.5);
    min-height: 660px;
    @media screen and(min-width: 600px){
      min-height: 600px;
    }
  @media screen and(min-width: 768px) {
    min-height: 400px;
  }
  &--bio{
    list-style-type: none;

    position: absolute;
    // top: 75%;
    bottom: 30px;
    z-index: 1;
    padding-left: 0;
    font-weight: 700;
    @media screen and(min-width: 400px){
      @include span-columns(10.5);
      @include shift(.75);
      font-weight: 400;
    }
    @media screen and(min-width: 768px) {
      // bottom: 100%;

      @include span-columns(6);
      @include shift(.75);
      top: calc(50% - 28px);
      transform: translateY(-50%);

    }
    li{
      padding-bottom: 15px;
    }
    .profile-buttons{
      text-align: center;
      // width: 100%;
      // @include span-columns(12);
      // min-width: 320px;
      @media screen and(min-width: 768px) {
        text-align: left;
        @include span-columns(12);
        // text-align: left;
      // padding: 0 15px 0 0;

    }
      button{

        font-size: 12px;
        min-width: 132px;
        @media screen and(min-width: 420px) {
        font-size: 14px;
        min-width: 164px;
        }
        i{
          display: none;
          @media screen and(min-width: 420px){
          display: inline;
          }
        }
      }

    }
  }
  &--photo{
  // @include span-columns(6);
  // @include shift(1);

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 30px;
    text-align: center;
    @media screen and(min-width: 400px){

      // @include shift(2);
    }
    @media screen and(min-width: 768px) {
      padding-top: 0;
      top: calc(50% - 15px);
      left: 0;
      transform: translate(0, -50%);
      text-align: left;
      @include span-columns(4);
      @include shift(7.25);
    }
    img{
      max-width: 284px;
      max-height: 284px;
      border-radius: 5%;
      -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
      @media screen and(min-width: 768px){
        width: 100%;
        height: 100%;
      }
    }
  }

#resume-download{
  @media screen and(min-width: 768px) {
    float: right;
  }
  // float: right;
}
}
